version: 2.1

jobs:
  hello-job:
    docker:
      - image: cimg/node:17.2.0 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" # run the `echo` command
      - run: echo $TEST_ENV_VAR_PROJECT # run the `echo` command
      - run: echo $TESTING_CONTEXTS


workflows:
  my-workflow:
    jobs:
      - hello-job:
          context:
            - oss
